/*states, content and header*/
.jqx-widget-theme-fresh-orange{border-color:#E48605}
.jqx-widget-content-theme-fresh-orange{color:#000000; border-color:#E48605}
.jqx-fill-state-normal-theme-fresh-orange, .jqx-widget-header-theme-fresh-orange, .jqx-menu-vertical-theme-fresh-orange {
    border-color: #E48605;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    *background-color: #f89406;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
}
.jqx-fill-state-hover-theme-fresh-orange{
    border-color: #E48605;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #E74615;
    *background-color: #E74615;
    background-image: -moz-linear-gradient(top, #f89406, #E48605);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f89406), to(#E48605));
    background-image: -webkit-linear-gradient(top, #f89406, #E48605);
    background-image: -o-linear-gradient(top, #f89406, #E48605);
    background-image: linear-gradient(to bottom, #f89406, #E48605);
    background-repeat: repeat-x;
}
.jqx-fill-state-pressed-theme-fresh-orange, .jqx-menu-item-top-hover-theme-fresh-orange{ background: #044062; /* Old browsers */
    border-color: #325da7;
    color: #ffffff;
    background: #4d77c1; /* Old browsers */
    background: -moz-linear-gradient(top, #4d77c1 0%, #325da7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d77c1), color-stop(100%,#325da7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4d77c1 0%,#325da7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4d77c1 0%,#325da7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4d77c1 0%,#325da7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4d77c1 0%,#325da7 100%); /* W3C */
}
/*checkbox images, grid cells*/
.jqx-checkbox-check-checked-theme-fresh-orange{background:transparent url(images/check_white.png) left top no-repeat}
.jqx-checkbox-check-indeterminate-theme-fresh-orange{background:transparent url(images/check_indeterminate_white.png) left top no-repeat}
.jqx-grid-theme-fresh-orange, .jqx-grid-header-theme-fresh-orange, .jqx-grid-cell-theme-fresh-orange{border-color:#E48605}
.jqx-widget-theme-fresh-orange .jqx-grid-cell-theme-fresh-orange, .jqx-widget-theme-fresh-orange .jqx-grid-group-cell-theme-fresh-orange{border-color:#FBB34E}
.jqx-widget-theme-fresh-orange .jqx-grid-column-header-theme-fresh-orange{border-color:#E48605}
.jqx-grid-bottomright-theme-fresh-orange, .jqx-panel-bottomright-theme-fresh-orange, .jqx-listbox-bottomright-theme-fresh-orange{   background-color:#FBB659}
.jqx-widget-theme-fresh-orange .jqx-grid-column-menubutton-theme-fresh-orange, .jqx-menu-vertical-theme-fresh-orange{border-color:#FBB34E}
 .jqx-grid-selectionarea-theme-fresh-orange{background-color:#6eaad3;border:1px solid #6eaad3; opacity:0.5}
.jqx-grid-group-cell-theme-fresh-orange{border-color:#FBB34E; background-color:#fff}
.jqx-grid-cell-theme-fresh-orange, .jqx-widget-theme-fresh-orange .jqx-grid-cell-theme-fresh-orange {
border-color:#FBB34E; }
.jqx-grid-cell-sort-theme-fresh-orange, .jqx-grid-cell-filter-theme-fresh-orange, .jqx-grid-cell-pinned-theme-fresh-orange{background-color:#FCC67C}
.jqx-grid-cell-alt-theme-fresh-orange, .jqx-grid-cell-sort-alt-theme-fresh-orange, .jqx-grid-cell-filter-alt-theme-fresh-orange{background-color:#FCC67C}
.jqx-scrollbar-state-normal-theme-fresh-orange{background-color:#FBB659; border:1px solid #FBB659;}
.jqx-tabs-title-selected-bottom-theme-fresh-orange, .jqx-tabs-selection-tracker-bottom-theme-fresh-orange, .jqx-tabs-title-selected-top-theme-fresh-orange, .jqx-tabs-selection-tracker-top-theme-fresh-orange{text-shadow: none; color: #000; border-color:#E48605; border-bottom:1px solid #ffffff; background:#ffffff}
.jqx-radiobutton-check-checked-theme-fresh-orange {
    background: #fff;
    border-color: #fff;
}
/*icons*/
.jqx-icon-arrow-left-theme-fresh-orange{background-image:url('images/icon-left-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-icon-arrow-right-theme-fresh-orange{background-image:url('images/icon-right-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-menu-item-arrow-left-theme-fresh-orange{background-image:url('images/icon-left.png'); background-repeat:no-repeat; background-position:center}
.jqx-menu-item-arrow-right-theme-fresh-orange{background-image:url('images/icon-right.png'); background-repeat:no-repeat; background-position:center}

.jqx-grid-column-sortascbutton-theme-fresh-orange, .jqx-expander-arrow-bottom-theme-fresh-orange, .jqx-window-collapse-button-theme-fresh-orange, .jqx-menu-item-arrow-up-theme-fresh-orange, .jqx-menu-item-arrow-up-selected-theme-fresh-orange, .jqx-menu-item-arrow-top-up-theme-fresh-orange, .jqx-icon-arrow-up-theme-fresh-orange, .jqx-icon-arrow-up-hover-theme-fresh-orange, .jqx-icon-arrow-up-selected-theme-fresh-orange{background-image:url('images/icon-up-white.png');background-repeat:no-repeat;background-position:center}
.jqx-grid-column-menubutton-theme-fresh-orange, .jqx-grid-column-sortdescbutton-theme-fresh-orange, .jqx-expander-arrow-top-theme-fresh-orange, .jqx-window-collapse-button-collapsed-theme-fresh-orange, .jqx-menu-item-arrow-down-theme-fresh-orange, .jqx-menu-item-arrow-down-selected-theme-fresh-orange, .jqx-menu-item-arrow-down-theme-fresh-orange, .jqx-icon-arrow-down-theme-fresh-orange, .jqx-icon-arrow-down-hover-theme-fresh-orange, .jqx-icon-arrow-down-selected-theme-fresh-orange{background-image:url('images/icon-down-white.png');background-repeat:no-repeat;background-position:center}
.jqx-tabs-arrow-left-theme-fresh-orange, .jqx-menu-item-arrow-left-selected-theme-fresh-orange, .jqx-menu-item-arrow-top-left-theme-fresh-orange, .jqx-icon-arrow-down-left-theme-fresh-orange, .jqx-icon-arrow-left-selected-theme-fresh-orange{background-image:url('images/icon-left-white.png');background-repeat:no-repeat;background-position:center}
.jqx-tabs-arrow-right-theme-fresh-orange, .jqx-menu-item-arrow-right-selected-theme-fresh-orange, .jqx-menu-item-arrow-top-right-theme-fresh-orange, .jqx-icon-arrow-right-hover-theme-fresh-orange, .jqx-icon-arrow-right-selected-theme-fresh-orange{background-image:url('images/icon-right-white.png');background-repeat:no-repeat;background-position:center}
.jqx-window-close-button-theme-fresh-orange, .jqx-icon-close-theme-fresh-orange, .jqx-tabs-close-button-theme-fresh-orange, .jqx-tabs-close-button-hover-theme-fresh-orange, .jqx-tabs-close-button-selected-theme-fresh-orange{background-image:url(images/close_white.png);  background-repeat:no-repeat;  background-position:center}

.jqx-scrollbar-thumb-state-normal-horizontal-theme-fresh-orange{ background:#F9960A; border:1px solid #E48605}
.jqx-scrollbar-thumb-state-hover-horizontal-theme-fresh-orange{ background:#E48605; border:1px solid #E48605}
.jqx-scrollbar-thumb-state-pressed-horizontal-theme-fresh-orange{ background:#111086; border:1px solid #070734}
.jqx-scrollbar-thumb-state-normal-theme-fresh-orange{ background:#F9960A; border:1px solid #E48605;}
.jqx-scrollbar-thumb-state-hover-theme-fresh-orange{ background:#E48605; border:1px solid #E48605}
.jqx-scrollbar-thumb-state-pressed-theme-fresh-orange{ background:#111086; border:1px solid #070734}
.jqx-icon-arrow-first-theme-fresh-orange
{
    background-image: url('images/icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-theme-fresh-orange
{
    background-image: url('images/icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-cell-theme-fresh-orange>.jqx-grid-group-expand-theme-fresh-orange {
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-theme-fresh-orange>.jqx-grid-group-collapse-theme-fresh-orange {
    background-image: url('images/icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-theme-fresh-orange>.jqx-grid-group-collapse-rtl-theme-fresh-orange {
    background-image: url('images/icon-left.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-theme-fresh-orange>.jqx-grid-group-expand-rtl-theme-fresh-orange {
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-selected-theme-fresh-orange>.jqx-grid-group-expand-theme-fresh-orange,
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-hover-theme-fresh-orange>.jqx-grid-group-expand-theme-fresh-orange {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-selected-theme-fresh-orange>.jqx-grid-group-collapse-theme-fresh-orange,
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-hover-theme-fresh-orange>.jqx-grid-group-collapse-theme-fresh-orange {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-selected-theme-fresh-orange>.jqx-grid-group-collapse-rtl-theme-fresh-orange,
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-hover-theme-fresh-orange>.jqx-grid-group-collapse-rtl-theme-fresh-orange {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-selected-theme-fresh-orange>.jqx-grid-group-expand-rtl-theme-fresh-orange,
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-hover-theme-fresh-orange>.jqx-grid-group-expand-rtl-theme-fresh-orange {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-search-theme-fresh-orange
{
    background-image: url(images/search_white.png);
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-calendar-theme-fresh-orange, .jqx-icon-calendar-hover-theme-fresh-orange, .jqx-icon-calendar-pressed-theme-fresh-orange {
    background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-delete-theme-fresh-orange
{
    background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-theme-fresh-orange
{
    background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-theme-fresh-orange
{
    background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-theme-fresh-orange
{
    background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-theme-fresh-orange
{
    background-image: url(images/search_white.png);
}
.jqx-icon-plus-theme-fresh-orange
{
    background-image: url(images/plus_white.png);
}
.jqx-menu-minimized-button-theme-fresh-orange {
   background-image: url('images/icon-menu-minimized-white.png');
}
.jqx-widget-theme-fresh-orange
{
  font-family: Verdana;
}
.jqx-widget-content-theme-fresh-orange
{
  color: #000000;
  text-shadow: none;
  border-color: #E48605;
  background: #ffffff;
  font-family: Verdana;
}
.jqx-widget-header-theme-fresh-orange, .jqx-grid-theme-fresh-orange .jqx-widget-header-theme-fresh-orange
{
  color: #ffffff;
  text-shadow: none;
  border-color: #E48605;
  background-color: #fbb450;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-column-menubutton-theme-fresh-orange, .jqx-widget-theme-fresh-orange.jqx-grid-column-menubutton-theme-fresh-orange
{
  border-color: #E48605;
}
.jqx-grid-cell-theme-fresh-orange, .jqx-widget-theme-fresh-orange .jqx-grid-cell-theme-fresh-orange
{
  background-color: #ffffff;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-normal-theme-fresh-orange
{
  color: #ffffff;
  text-shadow: none;
  border-color: #E48605;
  background-color: #fbb450;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-button-theme-fresh-orange
{
  color: #ffffff;
  text-shadow: none;
  border-color: #E48605;
  background-color: #fbb450;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-selectionarea-theme-fresh-orange
{
  border-color: #E48605;
  background-color: #fbb450;
}
.jqx-widget-theme-fresh-orange .jqx-grid-cell-sort-theme-fresh-orange, .jqx-widget-theme-fresh-orange .jqx-grid-cell-filter-theme-fresh-orange, .jqx-widget-theme-fresh-orange .jqx-grid-cell-pinned-theme-fresh-orange, .jqx-grid-cell-sort-theme-fresh-orange, .jqx-grid-cell-filter-theme-fresh-orange, .jqx-grid-cell-pinned-theme-fresh-orange
{
  background-color: #FF9000;
  color: #222222;
  text-shadow: none;
}
.jqx-widget-theme-fresh-orange .jqx-grid-cell-alt-theme-fresh-orange, .jqx-widget-theme-fresh-orange .jqx-grid-cell-sort-alt-theme-fresh-orange, .jqx-widget-theme-fresh-orange .jqx-grid-cell-pinned-alt-theme-fresh-orange, .jqx-widget-theme-fresh-orange .jqx-grid-cell-filter-alt-theme-fresh-orange, .jqx-grid-cell-alt-theme-fresh-orange, .jqx-grid-cell-sort-alt-theme-fresh-orange, .jqx-grid-cell-filter-alt-theme-fresh-orange
{
  background-color: #FCC67C;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-hover-theme-fresh-orange, .jqx-widget-theme-fresh-orange .jqx-grid-cell-hover-theme-fresh-orange
{
  color: #ffffff;
  text-shadow: none;
  border-color: #E48605;
  background-color: #f89406;
  background-image: -moz-linear-gradient(top, #f89406, #E48605);
  background-image: -ms-linear-gradient(top, #f89406, #E48605);
  background-image: -o-linear-gradient(top, #f89406, #E48605);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f89406), to(#E48605));
  background-image: -webkit-linear-gradient(top, #f89406, #E48605);
  background-image: linear-gradient(top, #f89406, #E48605);
  background-image: linear-gradient(to bottom, #f89406, #E48605);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-fill-state-pressed-theme-fresh-orange, .jqx-widget-theme-fresh-orange .jqx-grid-cell-selected-theme-fresh-orange
{
  color: #ffffff;
  text-shadow: none;
  border-color: #325da7;
  background-color: #4d77c1;
  background-image: -moz-linear-gradient(top, #4d77c1, #325da7);
  background-image: -ms-linear-gradient(top, #4d77c1, #325da7);
  background-image: -o-linear-gradient(top, #4d77c1, #325da7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#4d77c1), to(#325da7));
  background-image: -webkit-linear-gradient(top, #4d77c1, #325da7);
  background-image: linear-gradient(top, #4d77c1, #325da7);
  background-image: linear-gradient(to bottom, #4d77c1, #325da7);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-switchbutton-label-on-theme-fresh-orange
{
  color: #ffffff;
  text-shadow: none;
  border-color: #325da7;
  background-color: #4d77c1;
  background-image: -moz-linear-gradient(top, #4d77c1, #325da7);
  background-image: -ms-linear-gradient(top, #4d77c1, #325da7);
  background-image: -o-linear-gradient(top, #4d77c1, #325da7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#4d77c1), to(#325da7));
  background-image: -webkit-linear-gradient(top, #4d77c1, #325da7);
  background-image: linear-gradient(top, #4d77c1, #325da7);
  background-image: linear-gradient(to bottom, #4d77c1, #325da7);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-theme-fresh-orange, .jqx-tabs-selection-tracker-top-theme-fresh-orange
{
  color: #000000;
  text-shadow: none;
  border-color: #E48605;
  border-bottom: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-tabs-title-selected-bottom-theme-fresh-orange, .jqx-tabs-selection-tracker-bottom-theme-fresh-orange
{
  color: #000000;
  text-shadow: none;
  border-color: #E48605;
  border-top: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-splitter-splitbar-hover-theme-fresh-orange
{
  background: #f89406;
}
.jqx-splitter-splitbar-vertical-theme-fresh-orange, .jqx-splitter-splitbar-horizontal-theme-fresh-orange, .jqx-slider-track-horizontal-theme-fresh-orange, .jqx-slider-track-vertical-theme-fresh-orange
{
  background: #fbb450;
}
.jqx-splitter-collapse-button-horizontal-theme-fresh-orange, .jqx-splitter-collapse-button-vertical-theme-fresh-orange, .jqx-slider-rangebar-theme-fresh-orange
{
  background: #4d77c1;
}
.jqx-scrollbar-state-normal-theme-fresh-orange
{
  background-color: #FBB659;
  border-color: #FBB659;
}
.jqx-grid-bottomright-theme-fresh-orange, .jqx-panel-bottomright-theme-fresh-orange, .jqx-listbox-bottomright-theme-fresh-orange
{
  background-color: #FBB659;
}
.jqx-scrollbar-thumb-state-normal-theme-fresh-orange
{
  background-color: #F9960A;
  background-color: #F9960A;
  background-image: -moz-linear-gradient(left, #F9960A, #F9960A);
  background-image: -ms-linear-gradient(left, #F9960A, #F9960A);
  background-image: -o-linear-gradient(left, #F9960A, #F9960A);
  background-image: -webkit-gradient(linear, left top, right top, from(#F9960A), to(#F9960A));
  background-image: -webkit-linear-gradient(left, #F9960A, #F9960A);
  background-image: linear-gradient(left, #F9960A, #F9960A);
  background-image: linear-gradient(left right, #F9960A, #F9960A);
}
.jqx-scrollbar-thumb-state-normal-horizontal-theme-fresh-orange
{
  background-color: #F9960A;
  background-color: #F9960A;
  background-image: -moz-linear-gradient(top, #F9960A, #F9960A);
  background-image: -ms-linear-gradient(top, #F9960A, #F9960A);
  background-image: -o-linear-gradient(top, #F9960A, #F9960A);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#F9960A), to(#F9960A));
  background-image: -webkit-linear-gradient(top, #F9960A, #F9960A);
  background-image: linear-gradient(top, #F9960A, #F9960A);
  background-image: linear-gradient(to bottom, #F9960A, #F9960A);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-theme-fresh-orange
{
  background-color: #E48605;
  border-color: #E48605;
  background-image: -moz-linear-gradient(left, #E48605, #E48605);
  background-image: -ms-linear-gradient(left, #E48605, #E48605);
  background-image: -o-linear-gradient(left, #E48605, #E48605);
  background-image: -webkit-gradient(linear, left top, right top, from(#E48605), to(#E48605));
  background-image: -webkit-linear-gradient(left, #E48605, #E48605);
  background-image: linear-gradient(left, #E48605, #E48605);
  background-image: linear-gradient(left right, #E48605, #E48605);
}
.jqx-scrollbar-thumb-state-hover-horizontal-theme-fresh-orange
{
  background-color: #E48605;
  border-color: #E48605;
  background-image: -moz-linear-gradient(top, #E48605, #E48605);
  background-image: -ms-linear-gradient(top, #E48605, #E48605);
  background-image: -o-linear-gradient(top, #E48605, #E48605);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#E48605), to(#E48605));
  background-image: -webkit-linear-gradient(top, #E48605, #E48605);
  background-image: linear-gradient(top, #E48605, #E48605);
  background-image: linear-gradient(to bottom, #E48605, #E48605);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-theme-fresh-orange
{
  background-color: #111086;
  border-color: #111086;
  background-image: -moz-linear-gradient(left, #111086, #111086);
  background-image: -ms-linear-gradient(left, #111086, #111086);
  background-image: -o-linear-gradient(left, #111086, #111086);
  background-image: -webkit-gradient(linear, left top, right top, from(#111086), to(#111086));
  background-image: -webkit-linear-gradient(left, #111086, #111086);
  background-image: linear-gradient(left, #111086, #111086);
  background-image: linear-gradient(left right, #111086, #111086);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-theme-fresh-orange
{
  background-color: #111086;
  border-color: #111086;
  background-image: -moz-linear-gradient(top, #111086, #111086);
  background-image: -ms-linear-gradient(top, #111086, #111086);
  background-image: -o-linear-gradient(top, #111086, #111086);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#111086), to(#111086));
  background-image: -webkit-linear-gradient(top, #111086, #111086);
  background-image: linear-gradient(top, #111086, #111086);
  background-image: linear-gradient(to bottom, #111086, #111086);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-theme-fresh-orange
{
  background-color: #FBB659;
  background-image: -moz-linear-gradient(top, #FBB659, #FBB659);
  background-image: -ms-linear-gradient(top, #FBB659, #FBB659);
  background-image: -o-linear-gradient(top, #FBB659, #FBB659);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#FBB659), to(#FBB659));
  background-image: -webkit-linear-gradient(top, #FBB659, #FBB659);
  background-image: linear-gradient(top, #FBB659, #FBB659);
  background-image: linear-gradient(to bottom, #FBB659, #FBB659);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-theme-fresh-orange
{
  background-color: #f89406;
  border-color: #E48605;
  background-image: -moz-linear-gradient(top, #f89406, #E48605);
  background-image: -ms-linear-gradient(top, #f89406, #E48605);
  background-image: -o-linear-gradient(top, #f89406, #E48605);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f89406), to(#E48605));
  background-image: -webkit-linear-gradient(top, #f89406, #E48605);
  background-image: linear-gradient(top, #f89406, #E48605);
  background-image: linear-gradient(to bottom, #f89406, #E48605);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-theme-fresh-orange
{
  background-color: #4d77c1;
  border-color: #325da7;
  background-image: -moz-linear-gradient(top, #4d77c1, #325da7);
  background-image: -ms-linear-gradient(top, #4d77c1, #325da7);
  background-image: -o-linear-gradient(top, #4d77c1, #325da7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#4d77c1), to(#325da7));
  background-image: -webkit-linear-gradient(top, #4d77c1, #325da7);
  background-image: linear-gradient(top, #4d77c1, #325da7);
  background-image: linear-gradient(to bottom, #4d77c1, #325da7);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-theme-fresh-orange
{
  background: #ffffff;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-theme-fresh-orange
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-radius-topleft: 3px;
  border-radius-topleft: 3px;
}
.jqx-rc-tr-theme-fresh-orange
{
  -moz-border-radius-topright: 3px;
  -webkit-border-radius-topright: 3px;
  border-radius-topright: 3px;
}
.jqx-rc-bl-theme-fresh-orange
{
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-radius-bottomleft: 3px;
  border-radius-bottomleft: 3px;
}
.jqx-rc-br-theme-fresh-orange
{
  -moz-border-radius-bottomright: 3px;
  -webkit-border-radius-bottomright: 3px;
  border-radius-bottomright: 3px;
}
.jqx-rc-t-theme-fresh-orange
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.jqx-rc-b-theme-fresh-orange
{
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.jqx-rc-r-theme-fresh-orange
{
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.jqx-rc-l-theme-fresh-orange
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.jqx-radiobutton-default-theme-fresh-orange, .jqx-radiobutton-theme-fresh-orange, .jqx-radiobutton-check-checked-theme-fresh-orange, .jqx-radiobutton-hover-theme-fresh-orange, .jqx-radiobutton-check-indeterminate-theme-fresh-orange, .jqx-radiobutton-check-indeterminate-disabled-theme-fresh-orange, .jqx-slider-button-theme-fresh-orange
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-theme-fresh-orange, .jqx-tooltip-theme-fresh-orange, .jqx-tooltip-text-theme-fresh-orange, .jqx-tooltip-main-theme-fresh-orange
{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.jqx-grid-column-sortascbutton-theme-fresh-orange, .jqx-expander-arrow-bottom-theme-fresh-orange, .jqx-window-collapse-button-theme-fresh-orange, .jqx-menu-item-arrow-up-theme-fresh-orange, .jqx-menu-item-arrow-top-up-theme-fresh-orange, .jqx-icon-arrow-up-theme-fresh-orange
{
  background-image: url('images/icon-up-white.png');
}
.jqx-icon-arrow-up-hover-theme-fresh-orange
{
  background-image: url('images/icon-up-white.png');
}
.jqx-menu-item-arrow-up-selected-theme-fresh-orange, .jqx-icon-arrow-up-selected-theme-fresh-orange.jqx-expander-arrow-expanded-theme-fresh-orange
{
  background-image: url('images/icon-up-white.png');
}
.jqx-grid-column-menubutton-theme-fresh-orange, .jqx-grid-column-sortdescbutton-theme-fresh-orange, .jqx-expander-arrow-top-theme-fresh-orange, .jqx-window-collapse-button-collapsed-theme-fresh-orange, .jqx-menu-item-arrow-down-theme-fresh-orange, .jqx-menu-item-arrow-down-theme-fresh-orange, .jqx-tree-item-arrow-expand-theme-fresh-orange, .jqx-grid-group-expand-theme-fresh-orange, .jqx-widget-theme-fresh-orange .jqx-grid-group-expand-theme-fresh-orange, .jqx-icon-arrow-down-theme-fresh-orange
{
  background-image: url('images/icon-down-white.png');
}
.jqx-icon-arrow-down-hover-theme-fresh-orange
{
  background-image: url('images/icon-down-white.png');
}
.jqx-menu-item-arrow-down-selected-theme-fresh-orange, .jqx-icon-arrow-down-selected-theme-fresh-orange
{
  background-image: url('images/icon-down-white.png');
}
.jqx-tabs-arrow-left-theme-fresh-orange, .jqx-menu-item-arrow-top-left-theme-fresh-orange, .jqx-grid-group-collapse-rtl-theme-fresh-orange, .jqx-widget-theme-fresh-orange .jqx-grid-group-collapse-rtl-theme-fresh-orange, .jqx-icon-arrow-left-theme-fresh-orange, .jqx-icon-arrow-down-left-theme-fresh-orange
{
  background-image: url('images/icon-left-white.png');
}
.jqx-icon-arrow-left-hover-theme-fresh-orange
{
  background-image: url('images/icon-left-white.png');
}
.jqx-menu-vertical-theme-fresh-orange
{
  background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-theme-fresh-orange, .jqx-icon-arrow-left-selected-theme-fresh-orange
{
  background-image: url('images/icon-left-white.png');
}
.jqx-tabs-arrow-right-theme-fresh-orange, .jqx-menu-item-arrow-top-right-theme-fresh-orange, .jqx-menu-item-arrow-collapse-theme-fresh-orange, .jqx-grid-group-collapse-theme-fresh-orange, .jqx-widget-theme-fresh-orange .jqx-grid-group-collapse-theme-fresh-orange, .jqx-icon-arrow-right-theme-fresh-orange
{
  background-image: url('images/icon-right-white.png');
}
.jqx-icon-arrow-right-hover-theme-fresh-orange
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-right-selected-theme-fresh-orange, .jqx-icon-arrow-right-selected-theme-fresh-orange
{
  background-image: url('images/icon-right-white.png');
}
.jqx-window-close-button-theme-fresh-orange, .jqx-tabs-close-button-theme-fresh-orange, .icon-close-theme-fresh-orange
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-selected-theme-fresh-orange
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-hover-theme-fresh-orange
{
  background-image: url('images/close_white.png');
}
.jqx-widget-theme-fresh-orange .jqx-grid-column-header-theme-fresh-orange, .jqx-widget-theme-fresh-orange .jqx-grid-cell-theme-fresh-orange, .jqx-widget-theme-fresh-orange .jqx-grid-group-cell-theme-fresh-orange, .jqx-grid-cell-theme-fresh-orange
{
  border-color: #E48605;
}
.jqx-checkbox-check-checked-theme-fresh-orange
{
  background-image: url('images/check_white.png');
}
.jqx-checkbox-check-indeterminate-theme-fresh-orange
{
  background-image: url('images/check_indeterminate_white.png');
}
.jqx-tooltip-theme-fresh-orange, .jqx-tooltip-main-theme-fresh-orange
{
  color: #ffffff;
  text-shadow: none;
  border-color: #E48605;
  background-color: #fbb450;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-combobox-content-theme-fresh-orange, .jqx-input-theme-fresh-orange
{
  color: #000000;
  text-shadow: none;
  border-color: #E48605;
  background-color: #ffffff;
}
.jqx-combobox-input-theme-fresh-orange
{
  color: #000000;
  text-shadow: none;
}
.jqx-input-content-theme-fresh-orange
{
  color: #000000;
  text-shadow: none;
  background-color: #ffffff;
}
.jqx-fill-state-focus-theme-fresh-orange, .jqx-popup-theme-fresh-orange .jqx-fill-state-focus-theme-fresh-orange
{
  border-color: #111111;
}
.jqx-popup-theme-fresh-orange.jqx-listbox-theme-fresh-orange, .jqx-popup-theme-fresh-orange.jqx-calendar-theme-fresh-orange,.jqx-menu-dropdown-theme-fresh-orange,  .jqx-popup-theme-fresh-orange.jqx-dropdownbutton-popup-theme-fresh-orange
{
  color: #000000;
  text-shadow: none;
  border-color: #E48605;
  background-color: #ffffff;
}
.jqx-menu-item-arrow-right-theme-fresh-orange, .jqx-tree-item-arrow-collapse-theme-fresh-orange
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-left-theme-fresh-orange
{
  background-image: url('images/icon-left.png');
}
.jqx-tree-item-arrow-expand-theme-fresh-orange
{
  background-image: url('images/icon-down.png');
}
.jqx-menu-item-arrow-right-hover-theme-fresh-orange
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-left-hover-theme-fresh-orange
{
  background-image: url('images/icon-left-white.png');
}
.jqx-menu-item-arrow-right-selected-theme-fresh-orange
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-left-selected-theme-fresh-orange
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-theme-fresh-orange .jqx-icon-arrow-up-theme-fresh-orange
{
  background-image: url('images/icon-up-white.png');
}
.jqx-scrollbar-theme-fresh-orange .jqx-icon-arrow-left-theme-fresh-orange
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-theme-fresh-orange .jqx-icon-arrow-right-theme-fresh-orange
{
  background-image: url('images/icon-right-white.png');
}
.jqx-scrollbar-theme-fresh-orange .jqx-icon-arrow-bottom-theme-fresh-orange
{
  background-image: url('images/icon-bottom-white.png');
}
.jqx-scrollbar-theme-fresh-orange .jqx-icon-arrow-up-hover-theme-fresh-orange
{
  background-image: url('images/icon-up-white.png');
}
.jqx-scrollbar-theme-fresh-orange .jqx-icon-arrow-left-hover-theme-fresh-orange
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-theme-fresh-orange .jqx-icon-arrow-right-hover-theme-fresh-orange
{
  background-image: url('images/icon-right-white.png');
}
.jqx-scrollbar-theme-fresh-orange .jqx-icon-arrow-bottom-hover-theme-fresh-orange
{
  background-image: url('images/icon-bottom-white.png');
}
.jqx-scrollbar-theme-fresh-orange .jqx-icon-arrow-up-selected-theme-fresh-orange
{
  background-image: url('images/icon-up-white.png');
}
.jqx-scrollbar-theme-fresh-orange .jqx-icon-arrow-left-selected-theme-fresh-orange
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-theme-fresh-orange .jqx-icon-arrow-right-selected-theme-fresh-orange
{
  background-image: url('images/icon-right-white.png');
}
.jqx-scrollbar-theme-fresh-orange .jqx-icon-arrow-bottom-selected-theme-fresh-orange
{
  background-image: url('images/icon-bottom-white.png');
}
.jqx-calendar-theme-fresh-orange .jqx-icon-arrow-up-theme-fresh-orange, .jqx-tabs-header-theme-fresh-orange .jqx-icon-arrow-up-theme-fresh-orange
{
}
.jqx-calendar-theme-fresh-orange .jqx-icon-arrow-left-theme-fresh-orange, .jqx-tabs-header-theme-fresh-orange .jqx-icon-arrow-left-theme-fresh-orange
{
}
.jqx-calendar-theme-fresh-orange .jqx-icon-arrow-right-theme-fresh-orange, .jqx-tabs-header-theme-fresh-orange .jqx-icon-arrow-right-theme-fresh-orange
{
}
.jqx-calendar-theme-fresh-orange .jqx-icon-arrow-bottom-theme-fresh-orange, .jqx-tabs-header-theme-fresh-orange .jqx-icon-arrow-bottom-theme-fresh-orange
{
}
.jqx-widget-theme-fresh-orange .jqx-grid-cell-theme-fresh-orange, .jqx-listitem-state-normal-theme-fresh-orange, .jqx-menu-item-normal-theme-fresh-orange, .jqx-tree-item-normal-theme-fresh-orange, .jqx-calendar-cell-theme-fresh-orange, .jqx-grid-cell-theme-fresh-orange,.jqx-menu-vertical-theme-fresh-orange .jqx-menu-item-top-normal-theme-fresh-orange, .jqx-input-popup-theme-fresh-orange .jqx-fill-state-normal-theme-fresh-orange
{
  font-family: Verdana;
}
.jqx-widget-theme-fresh-orange .jqx-grid-cell-hover-theme-fresh-orange, .jqx-listitem-state-hover-theme-fresh-orange, .jqx-menu-item-hover-theme-fresh-orange, .jqx-tree-item-hover-theme-fresh-orange, .jqx-calendar-cell-hover-theme-fresh-orange, .jqx-grid-cell-hover-theme-fresh-orange,.jqx-menu-vertical-theme-fresh-orange .jqx-menu-item-top-hover-theme-fresh-orange, .jqx-input-popup-theme-fresh-orange .jqx-fill-state-hover-theme-fresh-orange,.jqx-input-button-header-theme-fresh-orange, .jqx-input-popup-theme-fresh-orange .jqx-fill-state-pressed-theme-fresh-orange,.jqx-input-button-header-theme-fresh-orange
{
  font-family: Verdana;
}
.jqx-widget-theme-fresh-orange  .jqx-grid-cell-selected-theme-fresh-orange, .jqx-listitem-state-selected-theme-fresh-orange, .jqx-menu-item-selected-theme-fresh-orange, .jqx-tree-item-selected-theme-fresh-orange, .jqx-calendar-cell-selected-theme-fresh-orange, .jqx-grid-cell-selected-theme-fresh-orange,.jqx-menu-vertical-theme-fresh-orange .jqx-menu-item-top-selected-theme-fresh-orange, .jqx-grid-selectionarea-theme-fresh-orange
{
  font-family: Verdana;
}
.jqx-icon-calendar-theme-fresh-orange
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-hover-theme-fresh-orange
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-pressed-theme-fresh-orange
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-first-theme-fresh-orange
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-first-hover-theme-fresh-orange
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-first-selected-theme-fresh-orange
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-last-theme-fresh-orange
{
  background-image: url('images/icon-last-white.png');
}
.jqx-icon-last-hover-theme-fresh-orange
{
  background-image: url('images/icon-last-white.png');
}
.jqx-icon-last-selected-theme-fresh-orange
{
  background-image: url('images/icon-last-white.png');
}
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-theme-fresh-orange>.jqx-grid-group-expand-theme-fresh-orange
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-hover-theme-fresh-orange>.jqx-grid-group-expand-theme-fresh-orange
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-selected-theme-fresh-orange>.jqx-grid-group-expand-theme-fresh-orange
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-theme-fresh-orange>.jqx-grid-group-collapse-theme-fresh-orange
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-hover-theme-fresh-orange>.jqx-grid-group-collapse-theme-fresh-orange
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-selected-theme-fresh-orange>.jqx-grid-group-collapse-theme-fresh-orange
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-theme-fresh-orange>.jqx-grid-group-expand-rtl-theme-fresh-orange
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-hover-theme-fresh-orange>.jqx-grid-group-expand-rtl-theme-fresh-orange
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-selected-theme-fresh-orange>.jqx-grid-group-expand-rtl-theme-fresh-orange
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-theme-fresh-orange>.jqx-grid-group-collapse-rtl-theme-fresh-orange
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-hover-theme-fresh-orange>.jqx-grid-group-collapse-rtl-theme-fresh-orange
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-cell-theme-fresh-orange.jqx-grid-cell-selected-theme-fresh-orange>.jqx-grid-group-collapse-rtl-theme-fresh-orange
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-column-menubutton-theme-fresh-orange, .jqx-grid-column-sortdescbutton-theme-fresh-orange
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-column-sortascbutton-theme-fresh-orange
{
  background-image: url('images/icon-up-white.png');
}
.jqx-icon-delete-theme-fresh-orange
{
  background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-theme-fresh-orange
{
  background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-theme-fresh-orange
{
  background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-theme-fresh-orange
{
  background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-theme-fresh-orange
{
  background-image: url('images/icon-search_white.png');
}
.jqx-icon-plus-theme-fresh-orange
{
  background-image: url('images/icon-plus_white.png');
}
